---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>Welcome to BA7NAH AMPRNet page</h1>
    <ul>
      <li>
        🔗 Homepage:
        <a href="https://saurlax.com">saurlax.com</a>
      </li>
      <li>
        💻 Github:
        <a href="https://github.com/saurlax">@saurlax</a>
      </li>
      <li>
        📘 44Net Wiki:
        <a href="https://wiki.ampr.org/wiki/Main_Page">wiki.ampr.org</a>
      </li>
    </ul>
  </div>

  <style>
    .container {
      margin: 40px auto;
      max-width: 600px;
      padding: 20px;
    }
  </style>
</Layout>
